h1 {
  font-size: 80px !important;
  transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

h1:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

h2 {
  font-size: 30px !important;
  text-shadow: 0 0 10px rgba(241, 114, 110, 0.8),
    0 0 20px rgba(241, 114, 110, 0.8), 0 0 30px rgba(241, 114, 110, 0.8);
}

h3 {
  font-size: 25px !important;
}

h4 {
  font-size: 20px !important;
}

li,
p {
  font-size: 17px !important;
}

.nav-left {
  flex: 1;
  padding-left: 30px;
  z-index: 1000; /* Add this line to ensure the nav bar stays on top */
}

.nav-center {
  flex: 0 1 0;
  z-index: 1000; /* Add this line to ensure the nav bar stays on top */
}

.nav-right {
  flex: 1;
  padding-right: 30px;
  z-index: 1000; /* Add this line to ensure the nav bar stays on top */
}

section {
  padding-bottom: 60px;
}

#root {
  color: white;
  background-color: #02495a;
  overflow: hidden;
  padding-bottom: 100px;
}

nav {
  height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999; /* Add this line to ensure the nav bar stays on top */
}

.nav-tab {
  padding: 0 10px;
}

.nav-tab:hover {
  color: rgb(235, 186, 52);
}

.nav-tab:hover .nav-line {
  border-top: 2px solid white;
  width: 100%;
  border-color: rgb(235, 186, 52);
}

.nav-line {
  flex: 1 1;
  border-top: 2px solid white;
  width: 0;
  transition: width 0.5s;
}

.content-width {
  width: 80vw;
}

.content-box {
  border-radius: 15px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
  gap: 40px;
}

.section-box {
  display: flex;
  align-items: center;
}

.about-box {
  padding-right: 100px;
}

.profile-img-box {
  border-radius: 50%;
  border: 3px solid rgb(82, 82, 82);
  overflow: hidden;
  width: 180px;
  height: auto;
  flex: 0 0 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.profile-img-box:hover {
  box-shadow: 0 4px 20px rgba(241, 114, 110, 0.8);
  transform: scale(1.1);
}

.profile-img-box > img {
  width: 180px;
  height: auto;
}

.skills {
  @apply flex flex-col items-center gap-5;
}

.skills-tiles {
  flex-flow: row wrap;
}

.skill-brick {
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(19, 40, 80);
  background-color: rgb(50, 84, 146);
}

.skill-brick-icon {
  font-size: 20px;
}

.skill-brick-img {
  width: 20px;
}

.skill-brick-text {
  width: max-content;
}

.proj-con {
  display: flex;
  align-self: stretch;
  gap: 100px;
}

.proj-left {
}

.proj-right {
  flex: 1 0 50%;
}

.projects-box {
  gap: 120px;
  flex-direction: column;
  padding: 50px 50px;
  display: flex;
}

li {
  margin-bottom: 10px;
}

a.link {
  text-decoration: underline !important;
  color: rgb(241, 114, 110) !important;
}

.proj-img-sec {
}

.proj-img-sec > img {
  width: 100%;
}

.contact-link {
}

.contact-link:hover {
  color: rgb(241, 114, 110);
}

.cv-box {
  padding: 5px 10px;
  background-color: rgb(201, 64, 64);
  border-radius: 5px;
  border: 2px solid rgb(189, 41, 41);
  width: max-content;
}

.cv-box:hover {
  background-color: rgb(167, 46, 46);
}

.cv-box:active {
  background-color: rgb(138, 34, 34);
}

.nav-text {
  font-size: 22px;
}

#Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0;
  width: 100%;
  box-sizing: border-box;
}

#Projects > div:first-child {
  width: 80%;
  max-width: 1200px;
}

#Projects > div:first-child > h2 {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.projects-content {
  width: 80%;
  max-width: 1200px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  box-sizing: border-box;
  background-color: #077a97;
}

.project-item {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.project-item:hover {
  background-color: #055f6e;
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project-item-top-row,
.project-item-tech-stack,
.project-item-links {
  margin: 20px 0;
}
.project-item-top-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.project-item-header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}
.project-item-header-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.project-item-left-column {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-item-left-column-content {
  font-size: '17px';
  line-height: '1.5';
  margin: '0 0 10px 0';
}

.project-item-tech-stack {
  margin-bottom: 20px;
}
.project-item-tech-stack h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.tech-stack-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-item-links {
  margin-bottom: 20px;
}

.project-item-links h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.project-item-links ul {
  margin: 0;
  padding-inline-start: 20px;
  list-style: disc;
}

.project-item-links li {
  margin-bottom: 10px;
  font-size: 17px;
}

.project-item-links a {
  color: rgb(241, 114, 110);
  text-decoration: underline;
}

.project-item-right-column {
  flex: 0 0 35%;
}

.project-item-main-image {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5%;
  margin-top: 1rem;
  margin-left: auto;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.project-item-main-image:hover {
  box-shadow: 0 14px 18px rgba(241, 114, 110, 0.8);
  transform: scale(1.05);
}

.project-item-main-image img {
  width: 100%;
  border-radius: 5%;
  object-fit: contain;
}

.project-divider {
  margin: -30px -10px; /* Adjust the margin to create a gap between project-item elements */
  border: none;
  border-top: 1px solid #fff;
}
