@media only screen and (max-width: 1200px){
   .proj-con{
    flex-direction: column;
    gap: 30px;
  }

  .proj-img-sec{
    align-self: center;
  }
}

@media only screen and (max-width: 800px){
  .content-width{
    width: 90vw;
  }

  .projects-box{
    padding: 30px;
  }

  .section-box{
    flex-direction: column;
  }

  .about-box{
    padding-right: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-left, .nav-right{
    display: none !important;
  }

  nav{
    justify-content: center;
  }

  h1{
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 450px){
  .nav-text{
    font-size: 16px;
  }
}