body {
  background-color: #0a3642;
  color: #869816;
}
a {
  color: #d2dc9b;
}
/* a:visited {
  color: #92a321;
  background-color: aliceblue;
} */
a:hover {
  color: #cf570c;
  background-color: #eff2e1;
}
